<!DOCTYPE html>
<html lang="es" ng-app="MiApp">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Calcula tu Índice de Masa de Corporal</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body ng-controller="Controlador">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">IMC</a>
      <ul class="right hide-on-med-and-down">
        <li><a ng-click="LogOut()">Cerrar Sesión</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a ng-click="LogOut()">Cerrar Sesión</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="container">
    <div id="materialdesign" class="section scrollspy">
      <h2 class="header">Calculadora Índice de Masa Corporal</h2>
      <p class="caption">Es importante que recuerde introducir su altura en centimetros en lugar de en metros en la casilla de altura. De esta forma, si mide 1.90 metros, deberá escribir 190 en el cuadro de altura.</p>
    </div>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12 m6 l3">
          <input id="txAltura" type="text" class="validate" ng-model="altura">
          <label for="txAltura">Altura en CM</label>
        </div>
        <div class="input-field col s12 m6 l3">
          <input id="txPeso" type="text" class="validate" ng-model="peso">
          <label for="txPeso">Peso en KG</label>
        </div>
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light" ng-click="calcular()">Calcular
          <i class="material-icons">query_builder</i>
        </button>
      </div>
      <div class="row">
        <h4>Resultado</h4>
      </div>
      <div class="row">
        <div class="input-field col s12 m6 l3">
          <input placeholder="" id="txIMC" type="text" ng-model="IMC" readonly="readonly">
          <label for="txIMC">IMC</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col l8">
          <input placeholder="" id="txResultado" type="text" ng-model="resultado" readonly="readonly">
          <label for="txResultado">Resultado</label>
        </div>
      </div>
    </form>
  </div>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.min.js"></script>
  <script src="/js/init.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
  <script src="/js/controlador.js"></script>
</body>
</html>
